<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header">
    <meta name="author" content="">

</head>

<body>
    <div th:if="${adherentVoEdit.id!=null}">
        <script>
            $(document).ready(function() {

                $("#edit").modal('show');

            });
        </script>
    </div>
    <div id="wrapper">
        <nav th:replace="fragments/sidebar :: sidebar"> </nav>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav th:replace="fragments/topbar :: topbar"></nav>
                <div class="container-fluid">
                    <!--row 1 (for title)-->
                    <div class="row">
                        <div class="col-sm">
                            <h1>Liste des adherents</h1>
                        </div>
                        <div class="col-sm">
                            <button style="margin-left: 70%;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNew">Ajouter</button>
                        </div>
                    </div>
                    <!--end row 1 (for title)-->
                    <!--row 2 (for button add)-->
                    <div class="row">

                    </div>
                    </br>
                    <!--end row 2 (for button add)-->
                    <!--row 3 (for table)-->
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Sexe</th>
                                    <th>Telephone</th>
                                    <th>Email</th>
                                    <th>Groupe sanguin</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="adherentVo : ${adherentsList}">
                                    <td th:text="${adherentVo.nom}"></td>
                                    <td th:text="${adherentVo.prenom}"></td>
                                    <td th:text="${adherentVo.sexe}"></td>
                                    <td th:text="${adherentVo.tel}"></td>
                                    <td th:text="${adherentVo.email}"></td>
                                    <td th:text="${adherentVo.GroupeSanguin}"></td>
                                    <td><a th:href="@{/adherents/edit/{id}(id=${adherentVo.id})}"><i
                                                class="far fa-edit"></i> </a></td>
                                    <td><a data-toggle="modal" data-target="#exampleModal" href="#"><i
                                                class="fa fa-trash" aria-hidden="true"></i></a></td>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Suppression adherent
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez vraiment supprimer l'adherent [[|${adherentVo.nom} ${adherentVo.prenom}|]]
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                    <a th:href="@{/adherents/delete/{id}(id=${adherentVo.id})}"> <button type="Submit" class="btn btn-danger">Supprimer</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li th:each="i : ${#numbers.sequence(0,totalPage-1)}" th:class=" ${#strings.equals(#strings.toString(i),#strings.toString(curentPage))}?'active page-item':'page-item'">
                                    <a class="page-link" th:text=" ${i+1}" th:href="@{/adherents/{page}(page=${i})}"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--end row 3 (for table)-->
                    <!--modal add new -->
                    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <form th:action="@{/adherents/add}" method="POST" th:object="${adherentVo}">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ajouter Adherent</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h3 class="well">Information adherent</h3>
                                        <div class="form-row">
                                            <!--input nom-->
                                            <div class="form-group col-md-6">
                                                <label for="nom">Nom *</label>
                                                <input required type="text" th:field="*{nom}" class="form-control" id="nom">
                                            </div>
                                            <!--end input nom -->
                                            <!--input prenom-->
                                            <div class="form-group col-md-6">
                                                <label for="prenom">Prenom *</label>
                                                <input required type="text" th:field="*{prenom}" class="form-control" id="Prenom">
                                            </div>
                                        </div>
                                        <!--end input prenom-->
                                        <div class="form-row">
                                            <!--input dateN-->
                                            <div class="form-group col-md-6">
                                                <label for="dateB">Date naissance *</label>
                                                <input required type="date" th:field="*{dateNString}" class="form-control" id="dateB">
                                            </div>
                                            <!--end input dateN-->
                                            <!--input sexe-->
                                            <div class="form-group col-md-6">
                                                <label for="sexe">Genre</label>
                                                <select th:field="*{sexe}" class="form-control" id="sexe">
                                                    <option value="F">Féminin</option>
                                                    <option value="M">Masculin</option>
                                                </select>
                                            </div>
                                            <!--end input sexe-->
                                        </div>
                                        <div class="form-row">
                                            <!--input tel-->
                                            <div class="form-group col-md-6">
                                                <label for="tel">Telephone</label>
                                                <input th:field="*{tel}" type="text" class="form-control" id="tel">
                                            </div>
                                            <!--end input tel-->
                                            <!--input email-->
                                            <div class="form-group col-md-6">
                                                <label for="email">Email *</label>
                                                <input required type="email" th:field="*{email}" class="form-control" id="email">
                                            </div>
                                            <!--end input email-->
                                        </div>
                                        <div class="form-row">
                                            <!--input ville-->
                                            <div class="form-group col-md-6">
                                                <label for="ville">Ville</label>
                                                <input type="text" th:field="*{ville}" class="form-control" id="ville">
                                            </div>
                                            <!--end input ville-->
                                            <!--input adresse-->
                                            <div class="form-group col-md-6">
                                                <label for="adresse">Adresse</label>
                                                <input type="text" th:field="*{adresse}" class="form-control" id="adresse">
                                            </div>
                                            <!--end input adresse-->
                                        </div>
                                        <div class="form-row">
                                            <!--input cin-->
                                            <div class="form-group col-md-6">
                                                <label for="cin">Cin N° *</label>
                                                <input required type="text" th:field="*{cin}" class="form-control" id="cin">
                                            </div>
                                            <!--end input cin-->
                                            <!--input groupe Sanguin-->
                                            <div class="form-group col-md-6">
                                                <label for="GroupeSanguin">Groupe Sanguin</label>
                                                <select th:field="*{GroupeSanguin}" class="form-control" id="Groups">
                                                    <option value="A+"> A RHESUS POSITIF</option>
                                                    <option value="A-"> A RHESUS Négatif</option>
                                                    <option value="B+"> B RHESUS POSITIF </option>
                                                    <option value="B-"> B RHESUS NEGATIF </option>
                                                    <option value="AB+"> AB RHESUS POSITIF</option>
                                                    <option value="AB-"> AB RHESUS NEGATIF </option>
                                                    <option value="O+">O RHESUS POSITIF</option>
                                                    <option value="O-"> O RHESUS NEGATIF</option>
                                                </select>
                                            </div>
                                            <!--end input groupe Sanguin-->
                                            <!--input maladie-->
                                            <div class="form-group col-md-6">
                                                <label for="maladie">Maladie déclarer</label>
                                                <textarea type="text" th:field="*{maladie}" class="form-control" id="maladie"></textarea>
                                            </div>
                                            <!--end input maladie-->
                                        </div>
                                        <h3 class="well">Personne à contacter en cas d'accident</h3>
                                        <div class="form-row">
                                            <!--input PCANom-->
                                            <div class="form-group col-md-6">
                                                <label for="pcaNom">Nom</label>
                                                <input type="text" th:field="*{PCANom}" class="form-control" id="pcaNom">
                                            </div>
                                            <!--end input PCANom-->
                                            <!--input PCATel-->
                                            <div class="form-group col-md-6">
                                                <label for="pcaTel">Telephone</label>
                                                <input type="text" th:field="*{PCATel}" class="form-control" id="pcaTel">
                                            </div>
                                            <!--end input PCATel-->
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                        <button class="btn btn-primary" type="Submit">Sauvgarder</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end modal and new-->
                <!--modal edit -->
                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form th:action="@{/adherents/save}" method="POST" th:object="${adherentVoEdit}">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modifier Adherent</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h3 class="well">Information adherent</h3>
                                    <input type="hidden" th:field="*{id}" class="form-control" id="id">
                                    <input type="hidden" th:field="*{user.id}" class="form-control" id="id">
                                    <div class="form-row">
                                        <!--input nom-->
                                        <div class="form-group col-md-6">
                                            <label for="nom">Nom *</label>
                                            <input required type="text" th:field="*{nom}" class="form-control" id="nom">
                                        </div>
                                        <!--end input nom -->
                                        <!--input prenom-->
                                        <div class="form-group col-md-6">
                                            <label for="prenom">Prenom *</label>
                                            <input required type="text" th:field="*{prenom}" class="form-control" id="Prenom">
                                        </div>
                                    </div>
                                    <!--end input prenom-->
                                    <div class="form-row">
                                        <!--input dateN-->
                                        <div class="form-group col-md-6">
                                            <label for="dateB">Date naissance *</label>
                                            <input required type="date" th:field="*{dateNString}" class="form-control" id="dateB">
                                        </div>
                                        <!--end input dateN-->
                                        <!--input sexe-->
                                        <div class="form-group col-md-6">
                                            <label for="sexe">Genre</label>
                                            <select th:field="*{sexe}" class="form-control" id="sexe">
                                                <option value="F">Féminin</option>
                                                <option value="M">Masculin</option>
                                            </select>
                                        </div>
                                        <!--end input sexe-->
                                    </div>
                                    <div class="form-row">
                                        <!--input tel-->
                                        <div class="form-group col-md-6">
                                            <label for="tel">Telephone</label>
                                            <input th:field="*{tel}" type="text" class="form-control" id="tel">
                                        </div>
                                        <!--end input tel-->
                                        <!--input email-->
                                        <div class="form-group col-md-6">
                                            <label for="email">Email *</label>
                                            <input required type="email" th:field="*{email}" class="form-control" id="email">
                                        </div>
                                        <!--end input email-->
                                    </div>
                                    <div class="form-row">
                                        <!--input ville-->
                                        <div class="form-group col-md-6">
                                            <label for="ville">Ville</label>
                                            <input type="text" th:field="*{ville}" class="form-control" id="ville">
                                        </div>
                                        <!--end input ville-->
                                        <!--input adresse-->
                                        <div class="form-group col-md-6">
                                            <label for="adresse">Adresse</label>
                                            <input type="text" th:field="*{adresse}" class="form-control" id="adresse">
                                        </div>
                                        <!--end input adresse-->
                                    </div>
                                    <div class="form-row">
                                        <!--input cin-->
                                        <div class="form-group col-md-6">
                                            <label for="cin">Cin N° *</label>
                                            <input required type="text" th:field="*{cin}" class="form-control" id="cin">
                                        </div>
                                        <!--end input cin-->
                                        <!--input groupe Sanguin-->
                                        <div class="form-group col-md-6">
                                            <label for="GroupeSanguin">Maladie déclarer </label>
                                            <select th:field="*{GroupeSanguin}" class="form-control" id="Groups">
                                                <option value=""> Groupe sanguin</option>
                                                <option value="A+"> A RHESUS POSITIF</option>
                                                <option value="A-"> A RHESUS Négatif</option>
                                                <option value="B+"> B RHESUS POSITIF </option>
                                                <option value="B-"> B RHESUS NEGATIF </option>
                                                <option value="AB+"> AB RHESUS POSITIF</option>
                                                <option value="AB-"> AB RHESUS NEGATIF </option>
                                                <option value="O+">O RHESUS POSITIF</option>
                                                <option value="O-"> O RHESUS NEGATIF</option>
                                            </select>
                                        </div>
                                        <!--end input groupe Sanguin-->
                                        <!--input maladie-->
                                        <div class="form-group col-md-6">
                                            <label for="maladie">Maladie déclarer</label>
                                            <textarea type="text" th:field="*{maladie}" class="form-control" id="maladie"></textarea>
                                        </div>
                                        <!--end input maladie-->
                                    </div>
                                    <h3 class="well">Personne à contacter en cas d'accident</h3>
                                    <div class="form-row">
                                        <!--input PCANom-->
                                        <div class="form-group col-md-6">
                                            <label for="pcaNom">Nom</label>
                                            <input type="text" th:field="*{PCANom}" class="form-control" id="pcaNom">
                                        </div>
                                        <!--end input PCANom-->
                                        <!--input PCATel-->
                                        <div class="form-group col-md-6">
                                            <label for="pcaTel">Telephone</label>
                                            <input type="text" th:field="*{PCATel}" class="form-control" id="pcaTel">
                                        </div>
                                        <!--end input PCATel-->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    <button class="btn btn-primary" type="Submit">Sauvgarder</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end modal edit-->
        </div>
    </div>
    </div>
</body>

</html>