<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <title>GYM MANAGER</title>
</head>

<body id="page-top">

    <ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
            </div>
            <div class="sidebar-brand-text mx-3">Menu</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Sports -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/sports/}" aria-expanded="true">
                <i class="fas fa-running"></i>
                <span>Sports</span>
            </a>
        </li>
        <!-- Nav Item - Entraineurs -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/entraineurs/}" aria-expanded="true">
                <i class="fas fa-running"></i>
                <span>Entraineurs</span>
            </a>
        </li>
        <!-- Nav Item - Adherents -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/adherents/}" aria-expanded="true">
                <i class="fas fa-users"></i>
                <span>Adherents</span>
            </a>
        </li>
        <!-- Nav Item - Groupes -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/groupes/}" aria-expanded="true">
                <i class="fas fa-fw fa-cog"></i>
                <span>Groupes</span>
            </a>
        </li>
        <!-- Nav Item - abonnements -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/abonnements/}" aria-expanded="true">
                <i class="fas fa-fw fa-cog"></i>
                <span>Abonnements</span>
            </a>
        </li>

        <!-- Nav Item - plannings -->
        <li class="nav-item">
            <a class="nav-link" href="#" aria-expanded="true">
                <i class="fas fa-calendar-alt"></i>
                <span>Plannings</span>
            </a>
        </li>
        <!-- Nav Item - superadmin -->
        <li class="nav-item">
            <a class="nav-link" href="#" aria-expanded="true">
                <i class="fas fa-calendar-alt"></i>
                <span> Gestion des utilisateurs</span>
            </a>
        </li>
    </ul>
    <!-- End of Topbar -->
</body>

</html>